* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 640px;
  margin: 52px auto;
  padding: 24px;
}

.title {
  margin-bottom: 32px;
}

.intro-chunk {
  max-width: 35ch;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 65%);
  padding: 32px 0px;
}

main .max-width-wrapper {
  margin: 32px auto;
  padding: 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 16px;
  padding-top: 8px;
}

.indented-heading {
  margin: 0;
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
  width: fit-content;
  padding: 16px 24px;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-left: -24px;
}
